<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace 关联此xml对应的Mapper接口全包名
    select、insert、update、delete标签的id对应namespace对应的Mapper接口的方法名
    parameterType属性指明查询时使用的参数类型
    resultType属性指明查询返回的结果集类型
 -->
<mapper namespace="com.hxx.mbtest.mapper.T1Mapper">
    <!--        <resultMap id="mapTeacher" type="com.hxx.mbtest.entity.T1">-->
    <!--            <result property="id" column="id"/>-->
    <!--            <result property="name" column="name"/>-->
    <!--            <result property="createTime" column="createTime"/>-->
    <!--            <result property="remark" column="remark"/>-->
    <!--            <result property="theTeacher" column="theTeacher"/>-->
    <!--            <association property="teacher" javaType="com.hxx.sbweb.domain.Teacher">-->
    <!--                <result property="name" column="bname"/>-->
    <!--                <result property="createTime" column="bcreateTime"/>-->
    <!--            </association>-->
    <!--        </resultMap>-->

    <!-- 查询全部-->
    <select id="selectAll" resultType="com.hxx.mbtest.entity.T1">
        SELECT *
        FROM t1
    </select>

    <!-- 根据id查询 -->
    <select id="selectUserById"
            resultType="com.hxx.mbtest.entity.T1">
        select * from t1
        where
        <if test="id !=null and id !='' ">
            id = #{id}
        </if>
    </select>

    <select id="selectUserByIds"
            resultType="com.hxx.mbtest.entity.T1">
        select * from t1
        WHERE id IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <!-- 根据name查询得到一个user对象 -->
    <select id="selectUser"
            resultType="com.hxx.mbtest.entity.T1">
        select *
        from t1
        where name = #{name}
    </select>

    <!-- 根据birthday查询得到一个user对象 -->
    <select id="selectByBirthday"
            resultType="com.hxx.mbtest.entity.T1">
        select *
        from t1
        where birthday &lt; #{birthday} limit #{page}
            , #{pageSize}
    </select>

    <!-- bymap -->
    <select id="selectUserByMap" parameterType="java.util.Map"
            resultType="com.hxx.mbtest.entity.T1">
        select *
        from t1 limit #{min},#{max}
    </select>

    <select id="selectAllAsMap" resultType="map">
        select * from t1
    </select>

    <select id="selectByExample" parameterType="java.util.Map"
            resultType="com.hxx.mbtest.entity.T1">
        select *
        from t1
        <where>
            <foreach collection="whereCases" item="criterion">
                <choose>
                    <when test="criterion.noValue">
                        and ${criterion.condition}
                    </when>
                    <when test="criterion.singleValue">
                        and ${criterion.condition} #{criterion.value}
                    </when>
                    <when test="criterion.betweenValue">
                        and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                    </when>
                    <when test="criterion.listValue">
                        and ${criterion.condition}
                        <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                 separator=",">
                            #{listItem}
                        </foreach>
                    </when>
                </choose>
            </foreach>
        </where>
        <if test="orderByCase !=null and orderByCase !='' ">
            ORDER BY ${orderByCase}
        </if>
        <if test="groupByCase !=null and groupByCase !='' ">
            GROUP BY ${groupByCase}
        </if>

        <if test="pageIndex>= 0 and pageSize > 0 ">
            limit #{pageIndex},#{pageSize}
        </if>
    </select>

    <!-- count -->
    <select id="count"
            resultType="Integer">
        select count
        from t1
    </select>
    <!-- 创建用户 -->
    <insert id="addUser" parameterType="com.hxx.mbtest.entity.T1">
        insert into t1
            (code, name, score, enabled, birthday, gmt_create)
        values (#{code}, #{name}, #{score}, #{enabled}, #{birthday}, #{gmtCreate})
    </insert>

    <insert id="addUserDynamic" parameterType="com.hxx.mbtest.entity.T1">
        insert into t1
        (code,
        name,
        <if test='score != null and score >= 0'>
            score,
        </if>
        enabled,
        birthday,
        gmt_create)
        values (#{code},
        #{name},
        <if test='score != null and score >= 0'>
            #{score},
        </if>
        #{enabled},
        #{birthday},
        #{gmtCreate})
    </insert>

    <!--批量新增-->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        insert into t1 (code, name, score,enabled,birthday,gmt_create)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.code}, #{item.name}, #{item.score}, #{item.enabled}, #{item.birthday}, #{gmtCreate})
        </foreach>
    </insert>

    <!-- 修改用户 -->
    <update id="updateUser" parameterType="com.hxx.mbtest.entity.T1">
        update t1
        set name = #{name},
        <if test='score != null and score >= 0'>
            score = #{score},
        </if>
        gmt_create = #{gmtCreate}
        where id = #{id}
    </update>
    <!--    批量更新-->
    <update id="updateBatch" parameterType="list">
        -- 要实现批量更新，首先得设置mysql支持批量操作，在jdbc链接中需要附加allowMultiQueries=true属性才行
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update t1
            <set>
                <if test="item.name != null">
                    name = #{item.name,jdbcType=VARCHAR},
                </if>
            </set>
            where id = #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 删除用户 -->
    <delete id="deleteUserById">
        delete
        from t1
        where id = #{id}
    </delete>

    <!--删除-->
    <delete id="delByIds">
        delete
        from zto_package_mix_config
        where id in
        <foreach collection="list" item="item" index="index"
                 open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>


</mapper>
