<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace 关联此xml对应的Mapper接口全包名
    select、insert、update、delete标签的id对应namespace对应的Mapper接口的方法名
    parameterType属性指明查询时使用的参数类型
    resultType属性指明查询返回的结果集类型
 -->
<mapper namespace="com.hxx.tkMybatisTest.dal.mysql.testDB.mapper.T1Mapper">
    <resultMap id="mapTeacher" type="com.hxx.tkMybatisTest.dal.mysql.testDB.entity.T1">
        <result property="id" column="id"/>
        <result property="code" jdbcType="VARCHAR" column="code"/>
        <result property="name" jdbcType="VARCHAR" column="name"/>
        <result property="Createtime" column="createTime"/>
        <!--        <result property="remark" column="remark"/>-->
        <!--        <result property="theTeacher" column="theTeacher"/>-->
        <!--        <association property="teacher" javaType="com.hxx.sbweb.domain.Teacher">-->
        <!--            <result property="name" column="bname"/>-->
        <!--            <result property="createTime" column="bcreateTime"/>-->
        <!--        </association>-->
    </resultMap>

    <select id="selectBy" parameterType="com.hxx.tkMybatisTest.dal.mysql.testDB.entity.T1"
            resultType="com.hxx.tkMybatisTest.dal.mysql.testDB.entity.T1">
        select * from t1
        <where>
        <!--
            整型、浮点型，判NULL和有效范围
            字符串，判NULL和空，注意相等判断时使用双引号括住右值
            日期，判NULL，在传入之前处理日期的有效范围
        -->
            <if test="id!=null and id>=1">
                and id=#{id}
            </if>
            <if test='code!=null and code=="a1"'>
                and code=#{code}
            </if>
            <if test='name!=null and name!=""'>
                and name=#{name}
            </if>
            <if test="age!=null and age>=1">
                and age=#{age}
            </if>
            <if test="score!=null and score>=0">
                and score>=#{score}
            </if>
            <if test="enabled!=null and enabled>=0">
                and enabled=#{enabled}
            </if>
            <if test="Createtime!=null">
                and createtime=#{createtime}
            </if>
        </where>
    </select>


</mapper>